.notFound-container{
    height: 100%;
    
    .notFound-text{
        background-color: white;
        height: 85%;
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: center;
    }
}