.ad-container{
    width: 100%;
    height: 100%;
    background-color: rgb(232, 230, 230);

    .ad{
        background-color: rgb(232, 230, 230);
        height: 80%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center !important;

        .ad-upper{
            display: flex;
            width: 100%;
            height: 80%;
            margin-left: 10px;
            
            .ad-image-container{
                width: 30%;
                background-color: white;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                
                img{
                    width: 300px;
                    border-radius: 10px;
                }
            }

            .ad-data-container{
                background-color: white;
                width: 70%;
                padding: 20px;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;
                flex-flow: column;
                justify-content: space-evenly;
                margin-right: 20px;

                .ad-order{
                    display: flex;
                    flex-flow: column;                    
                }

                p{
                    margin-top: 20px;
                }
            }
        }

        .ad-lower{
            margin-top: 10px;
            width: 100%;
            height: 10%;
            margin-left: 10px;
            margin-right: 20px;

            .ad-user-container{
                display: flex;
                height: 100%;
                justify-content: flex-end;
                align-items: baseline;
                border-radius: 10px;
                padding-left: 10px;
                align-items: center;
                background-color: white;
                margin-right: 20px;
                img{
                    margin-left: 10px;
                    border-radius: 50%;
                    width: 50px;
                }

                button{
                    width: 150px;
                    padding: 10px;
                    margin: 0 10px;
                    border-radius: 10px;
                    border: none;
                    font-weight: bold;
                    color: white;
                    background-color: rgb(218, 37, 218);
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(176, 19, 176);
                    }
                }

            }
        
        }
    }
}
    
@media (max-width: 900px){
    .ad-container{
        position: relative;
    }
    .ad-upper{
        flex-flow: column;
        align-items: center;

        .ad-image-container{
            width: 95% !important;
            padding: 10px 0px;

            
            img{
                width: 300px !important;
            }
        }

        .ad-data-container{
            margin-top: 5px;
        }
    }

    .ad-lower{ 
        position: absolute;
        bottom: -20px;
        
        .ad-user-container{
            justify-content: center !important;
            img{
                width: 100px !important;
                margin: 0px 30px !important;
            }
    
        }
    }
}