
.tile--container{
    border-radius: 10px;
    transition: .5s;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 80%;
    }

    &:hover{
        transform: scale(1.05);
    }
}

@media (max-width: 1000px) {
    .tile--container[style]{
        background-color: transparent !important; //Overrides the inline style in HeroTile component
    
        img{
            width: 150px !important;
        }
    }

    .tile1{
        grid-row: 1 !important;
        grid-column: 1 !important;
        img{
            transform: rotate(-3deg);
        }
    }

    .tile2{
        grid-row: 2 !important;
        grid-column: 2 !important;
        img{
            transform: rotate(10deg);
        }
    }

    .tile3, .tile4, .tile5, .tile6, .tile7{
        display: none;
    }    

}



@media (min-width: 650px) and (max-width: 1000px){

    .tile3{
        display: block;
        grid-row: 1 !important;
        grid-column: 2 !important;

    }

    .tile7{
        display: block !important;
        grid-row: 2 !important;
        grid-column: 1 !important;

        margin-top: 100px !important;        
        img{
            transform: rotate(15deg);
        }
    }
}
