.ads--container{
    height: 100%;
    width: 100%;

    .main-section{
        height: 90%;
        padding-top: 10px;
        position: relative;
        background-color: rgb(232, 230, 230);
        display: flex;

        .ads-search{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            
            form{
                display: flex;
                flex-flow: column;
                align-items: flex-start;

                .search-title{
                    border: none;
                    padding: 20px;
                    border-radius: 10px;
                }    

                button{
                    margin: 10px auto;
                    border: none;
                    color: white;
                    background-color: rgb(218, 37, 218);
                    padding: 10px 20px;
                    border-radius: 10px;

                    &:hover{
                        background-color: rgb(176, 19, 176);
                    }
                }
            }
        }

        .all-ads{
            width: 70%;
            float: right;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
        }

        h1{
            text-align: center;
        }

        .add-an-ad-btn{
            position:fixed;
            bottom: 30px;
            right: 40px;
            margin-top: 2px;
            padding: 15px 20px;
            font-size: 15px;
            font-weight: bold;
            border-radius: 50%;
            border: none;
            text-decoration: none;
            color: white;
            background-color: rgb(218, 37, 218);

            &:hover{
                background-color: rgb(176, 19, 176);
            }
        }
    }    
}
